body {
    background: #111;
    color: #eee;
    width: 50%;
    margin: 0 auto;
    padding-top: 10%;
}

.now {
    font-size: 1.6em;
}

.time, .longTime {
    font-size: 1.2em;
    font-weight: 500;
}

.progressBar {
    margin: 20px 0;
    border: 1px solid #eee;
    height: 2em;
    font-size: 1.5em;
}

.progressBar > .bar {
    width: 50%;
    background: #666;
    border-right: 1px solid #eee;
    height: 100%;
}

.progressBar > .longTime {
    float: left;
    padding: .3em .5em;
}